<div class="banner">
  <h2>Get Puzzled</h2>
  <svg version="1.1" x="0px" y="0px"
     width="340px" height="333px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">

  <path class="path" fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" d="m126.53261,151.20582l-49.72826,-0.90681l-0.79565,-50.78124c-1.85652,-2.41816 -6.54294,-0.30227-8.39946,-2.72042l-7.51358,10.8817l-11.13914,1.81362l-7.16087,-11.7885l-0.79565,-19.04297l8.75217,-5.44085l8.75217,6.34766l14.32174,-3.62723l6.36522,0l-1.59131,-41.71316l46.14783,0.90681l6.36522,9.06808l-0.79565,10.8817l-6.36522,5.44085l7.95652,9.06808l12.73044,1.81362l7.95652,-5.44085l0.79565,-10.8817l-0.79565,-18.13616l34.21304,-0.90681l2.38696,43.52678l8.75217,1.81362l7.95652,-7.25446l16.7087,0l2.38695,18.13616l-2.38695,15.41573l-7.95653,1.81362l-10.34347,-5.44085l-5.56957,-6.34766l-6.36522,1.81362l0,48.96763l-38.19131,-0.90681l-3.18261,-10.8817l6.36522,-9.06808l-2.38696,-13.60212l-15.91304,-2.72042l-13.52609,6.34766l0,10.8817l5.56957,9.97489l-3.58044,12.69531z"  fill-opacity="null" stroke-opacity="null"/>

  </svg>

</div>
