<div class="container">
  <div class="content">
    <h1>All the Puzzles</h1>

    <% @puzzles.each do |puzzle| %>
      <div class="puzzle-grid">
        <h2><%= link_to puzzle.title, puzzle_path(puzzle) %></h2>
        <%= link_to (image_tag puzzle.image), puzzle_path(puzzle) %>
      </div>
    <% end %>
  </div>
</div>
