<div class="container">
  <div class="content">
    <div class="form-block">
      <img src="/images/share.png" class="main-icon" >
      <h1>New Puzzle</h1>
      <p class="intro">Getting started is easy! Upload an image and have it get instantly converted into a puzzle. Then share the link with friends and family!</p>
      <%= render 'form' %>
    </div>
  </div>
</div>
